<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>360456848236-55g0rk0ngecoua5iai1v30icoi3dv1ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360456848236-55g0rk0ngecoua5iai1v30icoi3dv1ev</string>
	<key>API_KEY</key>
	<string>AIzaSyDmFqrIYEE_3atECIV9xD4mDIvEJljo0gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>360456848236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fieldpulse.contractorcalculator</string>
	<key>PROJECT_ID</key>
	<string>contractor-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>contractor-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360456848236:ios:e6858d77e2e981ef</string>
	<key>DATABASE_URL</key>
	<string>https://contractor-calculator.firebaseio.com</string>
</dict>
</plist>